<h1>Login</h1>

@if (formLevelMessage) {
<p class="form-level-error" role="alert">{{ formLevelMessage }}</p>
}

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item class="form-item">
        <ion-input formControlName="email" type="email" label="Email" labelPlacement="floating"
            [errorText]="getFieldError('email')" [class.ion-invalid]="getFieldError('email') !== ''"
            [class.ion-touched]="form.get('email')?.touched || (getFieldError('email') !== '')">
        </ion-input>
    </ion-item>

    <ion-item class="form-item">
        <ion-input formControlName="password" type="password" label="Contraseña" labelPlacement="floating"
            [errorText]="getFieldError('password')" [class.ion-invalid]="getFieldError('password') !== ''"
            [class.ion-touched]="form.get('password')?.touched || (getFieldError('password') !== '')">
        </ion-input>
    </ion-item>

    <div class="ion-padding-top">
        <ion-button color="primary" type="submit" [disabled]="form.invalid || submitting" expand="block">
            {{ submitting ? 'Enviando…' : 'Iniciar sesión' }}
        </ion-button>
    </div>
</form>