<ion-content [fullscreen]="true" class="auth-content">
  <div class="auth-container">
    <div class="auth-card">
      
      <div class="brand-header">
        <h1 class="brand-title">Yurest</h1>
        <p class="subtitle">Gestión inteligente para tu negocio</p>
      </div>

      <div class="form-content">
        <div *ngIf="errorMessage" class="error-banner">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <p>{{ errorMessage }}</p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          
          <ion-item class="custom-input" lines="none" [class.has-error]="email?.invalid && email?.touched">
            <ion-icon name="mail-outline" slot="start" color="medium"></ion-icon>
            <ion-input formControlName="email" type="email" placeholder="Correo electrónico"></ion-input>
          </ion-item>
          <div *ngIf="email?.invalid && email?.touched" class="error-text">
            <span *ngIf="email?.errors?.['required']">El email es requerido</span>
            <span *ngIf="email?.errors?.['email']">Email con formato inválido</span>
          </div>

          <ion-item class="custom-input" lines="none" [class.has-error]="password?.invalid && password?.touched">
            <ion-icon name="lock-closed-outline" slot="start" color="medium"></ion-icon>
            <ion-input formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña"></ion-input>
            
            <ion-button fill="clear" slot="end" class="eye-btn" (click)="togglePassword()" type="button">
              <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" slot="icon-only" color="medium"></ion-icon>
            </ion-button>
          </ion-item>
          <div *ngIf="password?.invalid && password?.touched" class="error-text">
            <span *ngIf="password?.errors?.['required']">La contraseña es requerida</span>
            <span *ngIf="password?.errors?.['minlength']">Mínimo 6 caracteres</span>
          </div>

          <ion-button expand="block" type="submit" [disabled]="loginForm.invalid || isLoading" class="submit-button" color="primary">
            <ion-spinner *ngIf="isLoading" name="dots"></ion-spinner>
            <span *ngIf="!isLoading">Acceder al TPV</span>
          </ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>