<h1>Registro de usuario</h1>

@if (formLevelMessage) {
<p class="form-level-error" role="alert">{{ formLevelMessage }}</p>
}

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <ion-item class="form-item">
    <ion-input formControlName="name" type="text" label="Nombre" labelPlacement="floating"
      [errorText]="getFieldError('name')"
      [class.ion-invalid]="getFieldError('name') !== ''"
      [class.ion-touched]="form.get('name')?.touched || (getFieldError('name') !== '')">
    </ion-input>
  </ion-item>

  <ion-item class="form-item">
    <ion-input formControlName="email" type="email" label="Email" labelPlacement="floating"
      [errorText]="getFieldError('email')"
      [class.ion-invalid]="getFieldError('email') !== ''"
      [class.ion-touched]="form.get('email')?.touched || (getFieldError('email') !== '')">
    </ion-input>
  </ion-item>

  <ion-item class="form-item">
    <ion-input formControlName="password" type="password" label="Contraseña" labelPlacement="floating"
      [errorText]="getFieldError('password')"
      [class.ion-invalid]="getFieldError('password') !== ''"
      [class.ion-touched]="form.get('password')?.touched || (getFieldError('password') !== '')">
    </ion-input>
  </ion-item>

  <ion-item class="form-item">
    <ion-input formControlName="password_confirmation" type="password" label="Confirmar contraseña"
      labelPlacement="floating"
      [errorText]="getFieldError('password_confirmation')"
      [class.ion-invalid]="getFieldError('password_confirmation') !== ''"
      [class.ion-touched]="form.get('password_confirmation')?.touched || (getFieldError('password_confirmation') !== '')">
    </ion-input>
  </ion-item>

  <div class="ion-padding-top">
    <ion-button color="primary" type="submit" [disabled]="form.invalid || submitting" expand="block">
      {{ submitting ? 'Enviando…' : 'Registrarse' }}
    </ion-button>
    <ion-button fill="clear" expand="block" routerLink="/login" [disabled]="submitting">
      ¿Ya tienes cuenta? Inicia sesión
    </ion-button>
  </div>

</form>