<ion-content [fullscreen]="true" class="tpv-background">
  <div class="tpv-layout">

    <app-tpv-header
      [viewState]="viewState"
      [selectedTable]="selectedTable"
      [currentUser]="currentUser"
      (back)="backToTables()"
      (logout)="logout()">
    </app-tpv-header>

    <div class="tpv-body">
      <!-- View 1: Table Selection -->
      <app-tpv-table-selection
        *ngIf="viewState === 'tables'"
        [zones]="zones"
        [selectedZoneUuid]="selectedZoneUuid"
        [filteredTables]="filteredTables"
        [tableOrders]="tableOrders"
        (zoneSelect)="selectZone($event)"
        (tableClick)="onTableClick($event)">
      </app-tpv-table-selection>

      <!-- View 2: Order Management -->
      <ng-container *ngIf="viewState === 'order'">
        <main class="order-container">
          <app-tpv-order-management
            [families]="families"
            [selectedFamilyUuid]="selectedFamilyUuid"
            [filteredProducts]="filteredProducts"
            [taxes]="taxes"
            (familySelect)="selectFamily($event)"
            (productSelect)="addToCart($event)">
          </app-tpv-order-management>

          <app-tpv-cart
            [cart]="cart"
            [currentOrder]="currentOrder"
            [tempDiners]="tempDiners"
            [taxes]="taxes"
            [total]="total"
            (editDiners)="editDiners()"
            (printProvisional)="printProvisional()"
            (clearCart)="clearCart()"
            (removeItem)="removeFromCart($event)"
            (addItem)="addToCart($event)"
            (sendOrder)="sendOrder()"
            (closeTicket)="closeTicket()">
          </app-tpv-cart>
        </main>
      </ng-container>
    </div>
  </div>

  <!-- Modals -->
  <app-tpv-user-selection-modal
    [isOpen]="showUserSelection"
    [users]="users"
    [context]="userSelectionContext"
    (close)="showUserSelection = false"
    (selectUser)="selectUser($event)">
  </app-tpv-user-selection-modal>

  <app-tpv-pin-modal
    [isOpen]="showPinModal"
    [selectedUser]="selectedUserForPin"
    [pinBuffer]="pinBuffer"
    (close)="showPinModal = false"
    (confirm)="onPinConfirm()"
    (digitClick)="addPinDigit($event)"
    (backspaceClick)="removePinDigit()">
  </app-tpv-pin-modal>

  <app-tpv-diners-modal
    [isOpen]="showDinersSelection"
    [tempDiners]="tempDiners"
    (close)="showDinersSelection = false"
    (confirm)="onDinersConfirm()"
    (digitClick)="addDinerDigit($event)"
    (backspaceClick)="removeDinerDigit()">
  </app-tpv-diners-modal>

  <app-tpv-payment-modal
    [isOpen]="showPaymentModal"
    [selectedTable]="selectedTable"
    [total]="total"
    [selectedTotal]="selectedTotal"
    [cart]="cart"
    [taxes]="taxes"
    [paymentType]="paymentType"
    [paymentMethod]="paymentMethod"
    [amountCash]="amountCash"
    [amountCard]="amountCard"
    [amountGiven]="amountGiven"
    [changeAmount]="changeAmount"
    (close)="showPaymentModal = false"
    (setPaymentType)="setPaymentType($event)"
    (setPaymentMethod)="setPaymentMethod($event)"
    (toggleItemSelection)="toggleItemSelection($event)"
    (updateSelectedQuantity)="updateSelectedQuantity($event.item, $event.delta)"
    (amountCashChange)="amountCash = $event; onAmountChange()"
    (amountGivenChange)="amountGiven = $event"
    (confirmPayment)="confirmPayment()">
  </app-tpv-payment-modal>

</ion-content>
