<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Mesas</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/backoffice/tables/new']" fill="solid" color="primary">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        Nueva Mesa
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar 
      placeholder="Buscar mesa..." 
      (ionInput)="handleSearch($event)"
      class="custom-search"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list-container">
    <ion-list lines="none">
      @for (table of filteredTables; track table.uuid) {
        <ion-item class="table-item tpv-card">
          <ion-icon name="restaurant-outline" slot="start" color="primary" class="table-icon"></ion-icon>
          
          <ion-label>
            <h2>Mesa: {{ table.name }}</h2>
            <p>Zona: {{ getZoneName(table.zoneUuid) }}</p>
          </ion-label>

          <div slot="end" class="item-actions">
            <div class="buttons">
              <ion-button fill="clear" color="primary" [routerLink]="['/backoffice/tables/edit', table.uuid]">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
              <ion-button fill="clear" color="danger" (click)="deleteTable(table.uuid)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-item>
      } @empty {
        <div class="empty-state">
          <ion-icon name="restaurant-outline"></ion-icon>
          <p>No se encontraron mesas</p>
        </div>
      }
    </ion-list>
  </div>
</ion-content>
