<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/backoffice/zones" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEdit ? 'Editar Zona' : 'Nueva Zona' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [disabled]="form.invalid" color="primary" fill="solid">
        <ion-icon name="save-outline" slot="start"></ion-icon>
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <form [formGroup]="form" class="tpv-card">
      <ion-list lines="full">
        <ion-item>
          <ion-label position="stacked">Nombre de la zona</ion-label>
          <ion-input formControlName="name" placeholder="Ej: Terraza"></ion-input>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>
