<aside class="zones-sidebar">
  <button
    *ngFor="let zone of zones"
    class="zone-btn"
    [class.active]="selectedZoneUuid === zone.uuid"
    (click)="selectZone(zone.uuid)">
    <ion-icon name="grid-outline"></ion-icon>
    <span>{{ zone.name }}</span>
  </button>
</aside>

<main class="tables-grid-container">
  <div class="tables-grid">
    <button
     *ngFor="let table of displayTables; trackBy: trackByTable"
    class="table-btn"
    [class.free]="!isTableOccupied(table)"
    [class.occupied]="isTableOccupied(table)"
    [class.is-joined]="hasJoinedTables(table)"
    (pointerdown)="onPointerDown(table, $event)"
    (pointerup)="onPointerUp(table, $event)"
    (pointerleave)="onPointerLeave($event)">
      <ion-icon *ngIf="hasJoinedTables(table)" name="layers-outline" class="joined-icon"></ion-icon>
      <span class="table-name">{{ getTableName(table) }}</span>
      <span class="table-status-text">{{ isTableOccupied(table) ? 'Ocupada' : 'Libre' }}</span>
    </button>
  </div>
</main>
