<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Zonas</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/backoffice/zones/new']" fill="solid" color="primary">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        Nueva Zona
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list-container">
    <ion-list lines="none">
      @for (zone of zones; track zone.uuid) {
        <ion-item class="zone-item tpv-card">
          <ion-icon name="map-outline" slot="start" color="primary" class="zone-icon"></ion-icon>
          
          <ion-label>
            <h2>{{ zone.name }}</h2>
          </ion-label>

          <div slot="end" class="item-actions">
            <div class="buttons">
              <ion-button fill="clear" color="primary" [routerLink]="['/backoffice/zones/edit', zone.uuid]">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
              <ion-button fill="clear" color="danger" (click)="deleteZone(zone.uuid)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-item>
      } @empty {
        <div class="empty-state">
          <ion-icon name="map-outline"></ion-icon>
          <p>No se encontraron zonas</p>
        </div>
      }
    </ion-list>
  </div>
</ion-content>
