<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/backoffice/tables" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEdit ? 'Editar Mesa' : 'Nueva Mesa' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [disabled]="form.invalid" color="primary" fill="solid">
        <ion-icon name="save-outline" slot="start"></ion-icon>
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <form [formGroup]="form" class="tpv-card">
      <ion-list lines="full">
        <ion-item>
          <ion-label position="stacked">Nombre/Número de mesa</ion-label>
          <ion-input formControlName="name" placeholder="Ej: Mesa 1"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Zona</ion-label>
          <ion-select formControlName="zoneUuid" placeholder="Seleccionar Zona" labelPlacement="stacked">
            @for (zone of zones; track zone.uuid) {
              <ion-select-option [value]="zone.uuid">{{ zone.name }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>
