.form-container {
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;
}

ion-item {
  --padding-start: 0;
  margin-bottom: 12px;

  ion-label {
    font-weight: 600;
    margin-bottom: 8px !important;
    color: var(--ion-color-dark);
  }

  ion-input, ion-select {
    --padding-start: 12px;
    --padding-end: 12px;
    --background: var(--ion-color-light);
    border-radius: 8px;
    border: 1px solid rgba(var(--ion-color-medium-rgb), 0.1);
    font-size: 1rem;
    font-weight: 500;
  }
}
